<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div id="header" class="d-flex bg-dark p-0">
    <div class="p-2 w-100 text-white">
        <a><span class="p-2 align-middle" th:text="${user.username}"></span></a>
        <span class="align-middle">with roles:</span>
        <span class="align-middle" th:block th:each="role : ${user.getRoles()}">
                                            <span th:text="${role.name}"/>
            </th:block>

            </span>
    </div>
    <a></a>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark text-secondary">Logout</button>
    </form>
    </a>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Активная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ссылка</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ссылка</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Отключенная</a>
    </li>
</ul>

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Активная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ссылка</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Ссылка</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Отключенная</a>
    </li>
</ul>
<div class="container">
    <div class="row">
        <h1>Table of users</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/admin/users/new}" class="btn btn-primary btn-sm mb-3">New user</a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Username</th>
            <th>Password</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.department}"></td>
            <td th:text="${user.salary}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.roles}"></td>

            <td>
                <a th:href="@{/admin/users/edit/{id}(id=${user.id})}"
                   class="btn btn-primary">Update</a>
                <a th:href="@{/admin/users/{id}(id=${user.id})}"
                   class="btn btn-danger">Delete</a>
            </td>


        </tr>
        </tbody>

    </table>

</div>
</body>
</html>